
plataformGame/.idea/inspectionProfiles/profiles_settings.xml
plataformGame/.idea/misc.xml
plataformGame/.idea/modules.xml
plataformGame/.idea/plataformGame.iml
plataformGame/.idea/vcs.xml
plataformGame/__pycache__/settings.cpython-39.pyc
plataformGame/__pycache__/sprites.cpython-39.pyc
plataformGame/__pycache__/settings.cpython-39.pyc
plataformGame/__pycache__/sprites.cpython-39.pyc
